/*
EXAMPLE
@font-face {
  font-family: "Basis Grotesque Mono Trial";
  src: url("../public/fonts/basis/BasisGrotesqueMonoTrial-Medium.woff2")
      format("woff2"),
    url("../public/fonts/basis/BasisGrotesqueMonoTrial-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*/